@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  background-color: #333;
  color: #eee;
  font-family: 'Lato', sans-serif;
}

a {
  color: #eee;
  font-weight: bold;
}

a:hover {
  color: #0cf;
  transition: 200ms ease-in-out;
}

hr {
  border-color: #eee;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #333;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.2);
}
